* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
}

.header-wrapper {
    max-width: 1100px;
    margin: auto;
}

.top-header {
    display: flex;
    height: 44px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone img {
    height: 14px;
}

.login {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.login img {
    height: 14px;
}





main {
    background-image: url(img/main-backgroung.png);
    width:1920px ;
    Height: 810px;
    Top: 124px;
}

.border {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}